{{#if modalVisible}}
  {{to-elsewhere
      named="modal"
      send=(component modalWindow
        rental=rental
        range=range
        hide=(action 'hide' modalWindow)) }}
{{/if}}

{{#if dropdownVisible}}
  {{to-elsewhere
      named="dropdown"
      send=(
        component 'dropdown-menu'
          rental=rental
          range=range
          hide=(action 'hide' 'dropdown-menu')
          what=(action 'show' 'typeahead-modal')
          when=(action 'show' 'datepicker-modal')
          howMuch=(action 'show' 'invoice-modal')) }}
{{/if}}

{{!-- Large and extra large screens--}}
<div class="large-screen">
  <div class="search-form-group">
    <label for="what">What</label>
    {{typeahead-input selected=rental}}
  </div>
  <div class="search-form-group">
    <label for="when">When</label>
    {{datepicker-input range=range}}
  </div>
  <div class="search-form-group">
    <label for="how-much">How much</label>
    {{invoice-input rental=rental range=range}}
  </div>
  <div class="search-form-group">
    {{search-form-button submitTask=submitTask}}
  </div>
</div>

{{!-- Medium sized screens --}}
<div class="medium-screen">
  <div class="search-form-group">
    <button {{action 'show' 'typeahead-modal'}} type="button" class="btn-block btn-lg">What</button>
  </div>
  <div class="search-form-group">
    <button {{action 'show' 'datepicker-modal'}} type="button" class="btn-block btn-lg">When</button>
  </div>
  <div class="search-form-group">
    <button {{action 'show' 'invoice-modal'}} type="button" class="btn-block btn-lg">How much</button>
  </div>
  <div class="search-form-group"></div>
</div>


{{!-- Small sized screens --}}
<div class="small-screen">
  <div class="search-form-group">
    <button {{action 'show' 'dropdown-menu'}} type="button" class="btn-block btn-lg">What | When | How much</button>
  </div>
</div>

  {{!-- <div class="form-item w-100 p-1 hidden-md-up">
    <button {{action 'toggleDropdown'}} type="button" class="btn-toggle-dropdown">
      <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false">
        <path d="M10.4 18.2c-4.2-.6-7.2-4.5-6.6-8.8.6-4.2 4.5-7.2 8.8-6.6 4.2.6 7.2 4.5 6.6 8.8-.6 4.2-4.6 7.2-8.8 6.6M23 22l-5-5c1.4-1.4 2.3-3.1 2.6-5.2.7-5.1-2.8-9.7-7.8-10.5-5-.7-9.7 2.8-10.5 7.9-.7 5.1 2.8 9.7 7.8 10.5 2.5.4 4.9-.3 6.7-1.7v.1l5 5c.3.3.8.3 1.1 0 .3-.3.4-.8.1-1.1" fill-rule="evenodd"></path>
      </svg>
      {{rentalNameString}} &middot; {{dateRangeString}} &middot; {{currency rentalCost '$'}}
    </button>
  </div>

  <div class="form-item search-divider w-75 hidden-sm-down">
    <div class="form-group hidden-lg-up modal-toggle">
      <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false">
        <path d="M10.4 18.2c-4.2-.6-7.2-4.5-6.6-8.8.6-4.2 4.5-7.2 8.8-6.6 4.2.6 7.2 4.5 6.6 8.8-.6 4.2-4.6 7.2-8.8 6.6M23 22l-5-5c1.4-1.4 2.3-3.1 2.6-5.2.7-5.1-2.8-9.7-7.8-10.5-5-.7-9.7 2.8-10.5 7.9-.7 5.1 2.8 9.7 7.8 10.5 2.5.4 4.9-.3 6.7-1.7v.1l5 5c.3.3.8.3 1.1 0 .3-.3.4-.8.1-1.1" fill-rule="evenodd"></path>
      </svg>
      <button {{action 'showModal' 'rental-input'}} type="button">{{rentalNameString}}</button>
    </div>
    <div class="form-group hidden-md-down">
      <label for="what">What</label>
      {{typeahead-input selected=rental}}
    </div>
  </div>

  <div id="date-picker" class="form-item search-divider w-75 hidden-sm-down">
    <div class="form-group hidden-lg-up modal-toggle">
      <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false"><path d="M22 9.5V3h-4.75V1a.75.75 0 1 0-1.5 0v2H8.249l.001-2a.75.75 0 1 0-1.5 0l-.001 2H2v19.008a1 1 0 0 0 .992.992h18.016a1 1 0 0 0 .992-.992V9.5zm-18.5-5h3.248V5a.75.75 0 0 0 1.5 0v-.5h7.502V5a.75.75 0 0 0 1.5 0v-.5h3.25V8h-17V4.5zm0 17v-12h17v12h-17z" fill-rule="evenodd"></path></svg>
      <button {{action 'showModal' 'calendar-input'}} type="button">{{dateRangeString}}</button>
    </div>
    <div class="form-group hidden-md-down">
      <label for="when">When</label>
      {{date-picker range=range}}
    </div>
  </div>

  <div class="form-item w-75 hidden-sm-down">
    <div class="form-group hidden-lg-up modal-toggle">
      <button {{action 'showModal' 'slider-input'}} type="button">{{currency rentalCost '$'}}</button>
    </div>
    <div class="form-group hidden-md-down">
      <label for="how-much">How much</label>
      <input type="text"
        class="form-control"
        id="how-much"
        aria-describedby="HowMuch"
        placeholder="Any price"
        value="{{currency rentalCost '$'}}">
    </div>
  </div>

  <div class="form-item w-0 p-1 hidden-md-down">
    {{search-form-button submitTask=submitTask}}
  </div> --}}

{{!-- <div class="hidden-lg-up mt-3 pt-3">
  {{search-form-button submitTask=submitTask}}
</div> --}}
