{{#if modalVisible}}
  {{to-elsewhere
      named="modal"
      send=(component modalWindow
        rental=rental
        range=range
        hide=(action 'hide' modalWindow)) }}
{{/if}}

{{#if dropdownVisible}}
  {{to-elsewhere
      named="dropdown"
      send=(
        component 'dropdown-menu'
          rental=rental
          range=range
          hide=(action 'hide' 'dropdown-menu')
          what=(action 'show' 'typeahead-modal')
          when=(action 'show' 'datepicker-modal')
          howMuch=(action 'show' 'invoice-modal')) }}
{{/if}}

<section class="booking-form-wrapper">
  {{!-- Large and extra large screens--}}
  <div class="large-screen">
    <div class="booking-form-group">
      <label for="what">What</label>
      {{typeahead-input selected=rental}}
    </div>
    <div class="booking-form-group">
      <label for="when">When</label>
      {{datepicker-input range=range dropdown=true}}
    </div>
    <div class="booking-form-group">
      <label for="how-much">How much</label>
      {{invoice-input rental=rental range=range}}
    </div>
    <div class="booking-form-group">
      {{booking-form-button submitTask=submitTask}}
    </div>
  </div>

  {{!-- Medium sized screens --}}
  <div class="medium-screen">
    <div class="booking-form-group modal-toggle">
      <button {{action 'show' 'typeahead-modal'}} type="button" class="btn-block btn-lg">
        {{#if rental.name}}
          {{rental.name}}
        {{else}}
          What
        {{/if}}
      </button>
    </div>
    <div class="booking-form-group modal-toggle">
      <button {{action 'show' 'datepicker-modal'}} type="button" class="btn-block btn-lg">
        {{#if (and range.start range.end)}}
          {{format-date-range range.start range.end}}
        {{else}}
          When
        {{/if}}
      </button>
    </div>
    <div class="booking-form-group modal-toggle">
      <button {{action 'show' 'invoice-modal'}} type="button" class="btn-block btn-lg">
        How much
      </button>
    </div>
    <div class="booking-form-group">
      {{!-- Do not replace --}}
    </div>
  </div>

  {{!-- Small sized screens --}}
  <div class="small-screen">
    <div class="booking-form-group modal-toggle">
      <button {{action 'show' 'dropdown-menu'}} type="button" class="btn-block btn-lg">
        What | When | How much
      </button>
    </div>
  </div>
</section>


{{!-- Small and medium sized screens --}}
<div class="hidden-lg-up">
  {{booking-form-button submitTask=submitTask}}
</div>
