<div class="drop-down-inner">
  <header class="d-flex justify-content-between p-3">
     <button {{action "hide"}} type="button" class="btn-naked">
       <svg viewBox="0 0 18 18" role="img" aria-label="Close" focusable="false" style="display: block; fill: rgb(72, 72, 72); height: 16px; width: 16px;"><path fill-rule="evenodd" d="M1.705 13.705A1 1 0 1 1 .29 12.29l8-7.995a1 1 0 0 1 1.414 0l8 7.995a1 1 0 1 1-1.414 1.415l-7.293-7.29-7.293 7.29z"></path></svg>
     </button>
     <button {{action "clear"}} type="button" class="btn-naked">Clear All</button>
  </header>

  <section>
    <button {{action 'what'}} type="button" class="mb-1 text-left btn-toggle-popup">
      <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false"><path d="M10.4 18.2c-4.2-.6-7.2-4.5-6.6-8.8.6-4.2 4.5-7.2 8.8-6.6 4.2.6 7.2 4.5 6.6 8.8-.6 4.2-4.6 7.2-8.8 6.6M23 22l-5-5c1.4-1.4 2.3-3.1 2.6-5.2.7-5.1-2.8-9.7-7.8-10.5-5-.7-9.7 2.8-10.5 7.9-.7 5.1 2.8 9.7 7.8 10.5 2.5.4 4.9-.3 6.7-1.7v.1l5 5c.3.3.8.3 1.1 0 .3-.3.4-.8.1-1.1" fill-rule="evenodd"></path></svg>
      {{#if rental.name}}
        {{rental.name}}
      {{else}}
        What
      {{/if}}
    </button>
    <button {{action 'when'}} type="button" class="mb-1 text-left btn-toggle-popup">
      <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false"><path d="M22 9.5V3h-4.75V1a.75.75 0 1 0-1.5 0v2H8.249l.001-2a.75.75 0 1 0-1.5 0l-.001 2H2v19.008a1 1 0 0 0 .992.992h18.016a1 1 0 0 0 .992-.992V9.5zm-18.5-5h3.248V5a.75.75 0 0 0 1.5 0v-.5h7.502V5a.75.75 0 0 0 1.5 0v-.5h3.25V8h-17V4.5zm0 17v-12h17v12h-17z" fill-rule="evenodd"></path></svg>
      {{#if (and range.start range.end)}}
        {{format-date-range range.start range.end}}
      {{else}}
        When
      {{/if}}
    </button>
    <button {{action 'howMuch'}} type="button" class="mb-1 text-left btn-toggle-popup">
      <span>$</span>
      {{if cost (currency cost '') 'How much'}}
    </button>
  </section>
</div>
