{{#if modalVisible}}
  {{to-elsewhere
      named="modal"
      send=(component 'calendar-update'
        booking=booking
        hide=(action 'update')) }}
{{/if}}

<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-7">
      {{#call-out as |header|}}
        {{header.title text="BookSync (Bookings)"}}
        {{header.subtitle text="Did someone else already book a timeslot you wanted? Just delete it. 😃"}}
      {{/call-out}}
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h5>
      {{#if model.length}}
        Already Booked
      {{else}}
        {{#link-to 'search'}}Go on and book some rentals!{{/link-to}}
      {{/if}}
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="d-flex flex-row flex-nowrap horizontal-scroll w-100">
      {{#each model as |booking|}}
        {{booking-card booking=booking}}
      {{/each}}
    </div>
  </div>
</div>
